APP_NAME='Drug Scraper'
APP_ENV=local
APP_KEY=base64:x5+VNrH+1ECaDPrKxe3LvKMHiy0GWG6ubSVHHVH9aNc=
APP_DEBUG=true

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=scraper
DB_USERNAME=root
DB_PASSWORD=secret